/* SO LOADER */
    #loader {
        position: static;
    }
    #loader #overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
        position: fixed;
        z-index: 1;
    }
    #loader #information p {
        padding: 0;
        margin: 15px 0 0 0;
        font-size: 1.5rem;
        color: #3e3e3e;
    }
    #loader #information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        background-color: #fff;

        z-index: 2;
        text-align: center;
        border-radius: 30px;
    }
    #loader {
        display: none;
    }
/* EO RANDOM PROJECTS */

/* SO NAV BAR */
    .navbar ul {
        padding: 0;
        margin: 0;
    }
    .navbar {
        background-color: #a0cbea;
        margin: 0 0 20px 0;
    }
    .navbar .noauth-menu a {
        color: #2d5775;
    }
/* SO NAV BAR */

/* SO RANDOM PROJECTS */
    #projects .img-overflow {
        max-height: 50px;
        overflow: hidden;
    }
    #projects img {
        width: 20%;
    }
/* EO RANDOM PROJECTS */

/* SO VIEW PROJECTS */
    #view-projects #banner {
        background-color: #a0cbea;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #7fb1d2;
    }
    #view-projects img {
        width:20%;
    }
/* EO VIEW PROJECTS */

/* SO LAST VIEWED */
    #last-viewed img {
        width: 100%;
    }
/* EO LAST VIEWED */

/* SO PROJECT SEARCH */
    #search-results ul {
        list-style: none;
        padding: 5px;
    }
    #search-results ul li {
        background-color: #a0cbea;
        color: #385163;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
    #search-results ul li img {
        width: 100%;
    }
/* EO PROJECT SEARCH */

/* EO HELPERS */
    .pull-right {
        float: right;
    }
    .pull-left {
        float: left;
    }
/* EO HELPERS */